{% macro render_time(field) %}
  <div class="control-group{{ " error" if field.errors else ""}}">
    {{ field.label(class="control-label") }}
    <div class="controls">
      <div class="input-append input-prepend timefield">
        <button type="button" class="btn"><i class="icon-minus"></i></button>
        {{ field(**kwargs) }}
        <button type="button" class="btn"><i class="icon-plus"></i></button>
      </div>
      {% if field.errors %}
        <span class="help-inline">{{ '; '.join(field.errors) }}</span>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro render_field_inline(field, btn_label='submit', btn_class='btn') %}
  <div class="input-append">
  {{ field(**kwargs) }}
    <button class="{{ btn_class }}" type="submit">{{ btn_label }}</button>
  </div>
  {% if field.errors %}
    <span class="help-inline">{{ '; '.join(field.errors) }}</span>
  {% endif %}
{% endmacro %}

{% macro render_field(field, show_label=True) %}
  <div class="control-group{{ " error" if field.errors else ""}}">
    {{ show_label and field.label(class="control-label") or '' }}
    <div class="controls">
      {{ field(**kwargs) }}
      {% if field.errors %}
        <span class="help-inline">{{ '; '.join(field.errors) }}</span>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro render_checkbox(field) %}
  <div class="control-group{{ " error" if field.errors else ""}}">
    <div class="controls">
      <label class="checkbox" for="{{ field.id }}">
        {{ field(**kwargs) }}
        {{ field.label.text }}
      </label>
      {% if field.errors %}
        <span class="help-inline">{{ '; '.join(field.errors) }}</span>
      {% endif %}
    </div>
  </div>
{% endmacro %}


