{% macro breadcrumbs(current) %}
<ul class="breadcrumb">
  {% for arg in varargs %}
    <li>
      <a href="{{ arg[0] }}">{{ arg[1] }}</a>
      <span class="divider">/</span>
    </li>
  {% endfor %}
  <li class="active">{{ current }}</li>
</ul>
{% endmacro %}

{% macro admin_tabs(current) %}
  <ul class="nav nav-tabs">
    <li{{ " class=active" if current == "recipes" }}>
      <a href="{{ url_for('recipes.recipes')}}">
        Recipes
      </a>
    </li>
    <li{{ " class=active" if current == "recipe_suggestions" }}>
      <a href="{{ url_for('recipes.recipe_suggestions')}}">
        Recipe Suggestions
      </a>
    </li>
    <li{{ " class=active" if current == "ingredients" }}>
      <a href="{{ url_for('recipes.ingredients')}}">
        Ingredients
      </a>
    </li>
    <li{{ " class=active" if current == "ingredient_suggestions" }}>
      <a href="{{ url_for('recipes.ingredient_suggestions')}}">
        Ingredient Suggestions
      </a>
    </li>
    <li{{ " class=active" if current == "categories" }}>
      <a href="{{ url_for('recipes.categories')}}">
        Categories
      </a>
    </li>
    <li{{ " class=active" if current == "tags" }}>
      <a href="{{ url_for('recipes.tags')}}">
        Tags
      </a>
    </li>
  </ul>
{% endmacro %}
