{% macro render_pagination(pagination, endpoint, orientation="right") %}
  {% if pagination.pages > 1 %}
    <div class="pagination pagination-{{ orientation }}">
      <ul>
      {% if pagination.has_prev %}
        <li><a href="{{ url_for(endpoint, page=pagination.page-1, **kwargs) }}?{{ request.query_string }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
      {% endif %}
      {%- for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <li>
              <a href="{{ url_for(endpoint, page=page, **kwargs) }}?{{ request.query_string }}">
                {{- page -}}
              </a>
             </li>
          {% else %}
            <li class="active"><a href="#">{{ page }}</a></li>
          {% endif %}
        {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
      {%- endfor %}
      {% if pagination.has_next %}
        <li><a href="{{ url_for(endpoint, page=pagination.page+1, **kwargs) }}?{{ request.query_string }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
      {% endif %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
