<iframe name="picker_iframe" class="hide"></iframe>
<div id="picker_modal" class="modal hide" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      &times;
    </button>
    <h3 id="myModalLabel">Image picker</h3>
  </div>
  <div class="modal-body">
    <p>Loading &hellip;</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

<div id="picker_album_modal" class="modal hide" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="width:600px">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      &times;
    </button>
    <h3 id="myModalLabel">From your album</h3>
  </div>
  <div class="modal-body">
    <p>Loading &hellip;</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

<div id="picker_crop_modal" class="modal hide" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="width:600px">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      &times;
    </button>
    <h3 id="myModalLabel">Crop your picture</h3>
  </div>
  <div class="modal-body">
    <div class="span4" style="margin: auto; float: none">
      <div class="thumbnail" class="">
        <img src="/static/assets/no-photo.png" id="temp_image">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-success" onclick="save_image()" data-dismiss="modal"
            aria-hidden="true">Save</button>
  </div>
</div>

<script>
  var jcrop_api;
  var img_w, img_h, display_w, display_h, image_crop, image_id;

  CA = CA || {}
  CA.uploads = {
    errors: function(errors){
      alert(errors);
    },
    success: function(data){
      image_id = data.id;
      $("#image_upload").val("");
      $("#temp_image").attr("style", "");
      $("#temp_image").attr("src", data.url);
      $("#picker_modal").modal('hide');
      $("#picker_crop_modal").modal('show');
      CA.uploads.image_jcrop();
    },
    image_jcrop: function(){
      // get ride of the old jcrop
      if(jcrop_api){
        jcrop_api.destroy();
      }

      // retrieve the real image size
      var img_temp = new Image()
      img_temp.onload = function(){
        img_w = this.width;
        img_h = this.height;
      }
      img_temp.src = $("#temp_image").attr("src");

      jQuery(function($){
        $('#temp_image').Jcrop({
            aspectRatio: 1,
            setSelect: [ 50, 50, 150, 150 ],
            onChange: CA.uploads.jcrop_on_select,
            onSelect: CA.uploads.jcrop_on_select
          },
          function(){
            jcrop_api = this;
          }
        );
      });
    },
    jcrop_on_select: function(coords){
      // retrieve size of the image container
      display_h = $("#temp_image").height();
      display_w = $("#temp_image").width();

      // compute ratio
      r_w = img_w / display_w;
      r_h = img_h / display_h;

      // store the crop section
      image_crop = {
        side: parseInt(coords.w * r_w, 10),
        from_x: parseInt(coords.x * r_w, 10),
        from_y: parseInt(coords.y * r_h, 10)
      };
    }
  };

  function save_image(){
    if(!image_crop) return;
    if(image_crop.side < 100) return;
    $.post("{{ url_for("images.save") }}?id=" + image_id,
      image_crop, image_selected);
  }


  $script('{{url_for('static', filename="lib/jcrop/jquery.Jcrop.min.js")}}', 'jcrop');
  $script('{{url_for('static', filename="lib/jcrop/jquery.color.js")}}', 'jcolor');
</script>

