{% for category in categories.items %}
  {% if loop.first %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Category's name
          </th>
        </tr>
      </thead>
      <tbody>
  {% endif %}
    <tr>
      <td>
        <a href="{{ url_for("recipes.edit_category", id=category.id) }}">
          <strong> {{ category.name }}</strong>
        </a>
      </td>
    </tr>
  {% if loop.last %}
      </tbody>
    </table>
  {% endif %}
  {% else %}
    <div class="alert alert-info">
      No categories.
    </div>
{% endfor %}
