{% for dish in dishes.items %}
  {% if loop.first %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Dish
          </th>
          <th>
            Category
          </th>
          <th>
            Ingredients
          </th>
        </tr>
      </thead>
    <tbody>
  {% endif %}
    <tr>
      <td>
        <a href="{{ url_for("restaurants.edit_dish", id=dish.id) }}">
          <strong>{{ dish.name }}</strong>
        </a>
      </td>
      <td>
        {{ dish.category }}
      </td>
      <td>
        {% for ingredient in dish.ingredients %}
          <a href="{{ url_for("recipes.edit_ingredient", id=ingredient.id) }}">
            {{- ingredient.name -}}
          </a>
          {% if not loop.last %},{% endif %}
        {% endfor %}
      </td>
    </tr>
  {% if loop.last %}
    </tbody>
  </table>
  {% endif %}
  {% else %}
    <div class="alert alert-info">
      No dish.
    </div>
{% endfor %}
