{% for ingredient in ingredients.items %}
  {% if loop.first %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Ingredient
          </th>
          <th>
            Parent
          </th>
          <th>
            Category
          </th>
        </tr>
      </thead>
    <tbody>
  {% endif %}
    <tr>
      <td>
        <a href="{{ url_for("recipes.edit_ingredient", id=ingredient.id) }}">
          <strong>{{ ingredient.name }}</strong>
        </a>
      </td>
      <td>
        {% for ingredient in ingredient.parents %}
          <a href="{{ url_for("recipes.edit_ingredient", id=ingredient.id) }}">
            {{- ingredient.name -}}
          </a>
          {% if not loop.last %},{% endif %}
        {% endfor %}
      </td>
      <td>
        {% for category in ingredient.categories %}
          <a href="{{ url_for("recipes.edit_category", id=category.id) }}">
            {{- category.name -}}
          </a>
          {% if not loop.last %},{% endif %}
        {% endfor %}
      </td>
    </tr>
  {% if loop.last %}
    </tbody>
  </table>
  {% endif %}
  {% else %}
    <div class="alert alert-info">
      No ingredients.
    </div>
{% endfor %}

