{% for recipe in recipes.items %}
  {% if loop.first %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Recipe
          </th>
          <th>
            Category
          </th>
          <th>
            Ingredients
          </th>
        </tr>
      </thead>
    <tbody>
  {% endif %}
    <tr>
      <td>
        <a href="{{ url_for("recipes.edit_recipe", id=recipe.id) }}">
          <strong>{{ recipe.name }}</strong>
        </a>
      </td>
      <td>
        {{ recipe.category }}
      </td>
      <td>
        {% for ingredient in recipe.ingredients %}
          <a href="{{ url_for("recipes.edit_ingredient", id=ingredient.id) }}">
            {{- ingredient.name -}}
          </a>
          {% if not loop.last %},{% endif %}
        {% endfor %}
      </td>
    </tr>
  {% if loop.last %}
    </tbody>
  </table>
  {% endif %}
  {% else %}
    <div class="alert alert-info">
      No Recipes.
    </div>
{% endfor %}

