{% extends "base.html" %}

{% from "lib/forms.html" import render_field %}

{% block content %}
  <legend>Create a restaurant</legend>
  <form method="POST" action="" class="form-horizontal">
    {{ form.hidden_tag() }}
    {{ render_field(form.name) }}
    {{ render_field(form.category_id) }}
    <p class="alert alert-info">
      By clicking Create, you agree to our
      <a href="/about/tos/"><strong>terms of service</strong></a>.
    </p>
    <div class="form-actions">
      <button type="submit" class="btn btn-success">
        <i class="icon-ok icon-white"></i> Create Restaurant
      </button>
      <a class="btn" href="{{ url_for("identities.settings") }}">
        Cancel
      </a>
    </div>
  </form>
{% endblock %}
