{% extends "base.html" %}

{% from "lib/forms.html" import render_field %}
{% from "lib/navigation.html" import breadcrumbs %}

{% block content %}
  {{ breadcrumbs('Create a menu',
    (url_for('identities.settings'), 'Settings'),
    (url_for('restaurants.settings', id=restaurant.id), restaurant.name),
  ) }}
  <legend id="profile">Create a menu</legend>
  <form method="post" class="form-horizontal">
    {{ form.hidden_tag() }}
    {{ render_field(form.name, class="input text") }}
    <div class="form-actions">
      <button type="submit" id="save_btn" class="btn btn-success">
        <i class="icon-ok icon-white"></i> Create menu
      </button>
      <a class="btn" href="{{ url_for('restaurants.settings', id=restaurant.id) }}">
        Cancel
      </a>
    </div>
  </form>
{% endblock %}

