{% extends "base.html" %}

{% from "lib/forms.html" import render_field, render_checkbox, render_time %}
{% from "lib/navigation.html" import breadcrumbs %}

{% block content %}
  {{ breadcrumbs('Edit a menu',
    (url_for('identities.settings'), 'Settings'),
    (url_for('restaurants.settings', id=restaurant.id), restaurant.name),
  ) }}
  <div class="row">
    <div class="span8">
      <legend id="profile">Update a menu</legend>
      <form method="post" class="form-horizontal"
        action="{{ url_for('restaurants.edit_menu', id=menu.id) }}">
        {{ form.hidden_tag() }}
        {{ render_field(form.name, class="input-block-level") }}
        {{ render_time(form.start, class="span1", placeholder="10:00") }}
        {{ render_time(form.stop, class="span1", placeholder="15:00") }}
        <div class="control-group">
          <label class="control-label">Serving days</label>
          <div class="btn-group controls" data-toggle="buttons-checkbox">
            {{ form.monday(class_="btn") }}
            {{ form.tuesday(class_="btn") }}
            {{ form.wednesday(class_="btn") }}
            {{ form.thursday(class_="btn") }}
            {{ form.friday(class_="btn") }}
            {{ form.saturday(class_="btn") }}
            {{ form.sunday(class_="btn") }}
          </div>
        </div>
        {{ render_field(form.places,
                        class_="input-block-level",
                        placeholder=restaurant.places[:3]|join(',', 'name') + "...",
                        data_url=url_for("restaurants.remote_places",
                                         id=restaurant.id)) }}
        <div class="form-actions">
          <button type="submit" id="save_btn" class="btn btn-success">
            <i class="icon-ok icon-white"></i> Update menu
          </button>
          <a class="btn" href="{{ url_for('restaurants.settings', id=restaurant.id) }}">
            Cancel
          </a>
        </div>
      </form>
    </div>
    <div class="span4">
      <form method="post" class="well"
        action="{{ url_for("restaurants.add_menu_dish", id=menu.id) }}">
      <legend>
        Add dishes to this menu
      </legend>
        {{ menu_dish_form.hidden_tag() }}
        {{ render_field(menu_dish_form.dishes, False,
                        data_url=url_for("restaurants.remote_dishes", id=restaurant.id),
                        data_callback="set_name_on_select",
                        placeholder="Type one of your dish name",
                        data_placement="left",
                        title="One or more dishes",
                        class_="poopover input-block-level",
                        data_trigger="focus",
                        data_content="You can enter more than one dish in order"
                        " to create a combination like a &quot;Lunch Special&quot;") }}
        {{ render_field(menu_dish_form.name, False, class_="input-block-level",
                        placeholder='Dish name') }}
        {{ render_field(menu_dish_form.price, False, class_="input-block-level",
                        placeholder='10.50') }}
        {{ render_field(menu_dish_form.description, False,  class_="input-block-level",
                        placeholder='Description (optional)') }}
        {{ render_field(menu_dish_form.category, False,  class_="input-block-level") }}
        <div class="controls">
          <button type="submit" id="save_btn" class="btn btn-primary">
            <i class="icon-plus icon-white"></i> Add dish
          </button>
        </div>
      </form>
    </div>
  </div>
  <legend>Content of this menu</legend>
  {% set menu_dishes = menu.dishes %}
  {% include("restaurants/include/menu_dishes_table.html") %}
{% endblock %}

{% block headscript %}
  function set_name_on_select(id, name){
    if( !$("#md_name").val() ){
      !$("#md_name").val(name);
      !$("#md_name").focus();
    }
    if( !$("#md_description").val() ){
      jQuery.getJSON("{{ url_for("restaurants.remote_dish") }}", {id:id}, function(json){
        $("#md_description").val(json.description);
        $("#md_category").val(json.category);
      });
    }
  }
{% endblock %}
{% block bootstrap %}
  $script("{{ url_for('static', filename="js/forms.js") }}");
  $script("{{ url_for('static', filename="js/autocomplete.js") }}");
  $(".poopover").popover();
{% endblock %}

