{% extends "base.html" %}

{% from "lib/forms.html" import render_field %}

{% block content %}
  <legend>Update "{{ restaurant.name|e }}"</legend>
  <form method="POST" action="" class="form-horizontal">
    {{ form.hidden_tag() }}
    {{ render_field(form.name) }}
    {{ render_field(form.category_id) }}
    <div class="form-actions">
      <button type="submit" class="btn btn-success">
        <i class="icon-ok icon-white"></i> Update Restaurant
      </button>
      <a class="btn" href="{{ url_for("identities.settings") }}">
        Cancel
      </a>
    </div>
  </form>
{% endblock %}
