{% extends "base.html" %}

{% from "lib/forms.html" import render_field %}
{% from "lib/navigation.html" import breadcrumbs %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for("static",
    filename="lib/jcrop/jquery.Jcrop.min.css") }}">
{% endblock %}

{% block content %}
  {{ breadcrumbs('Edit a dish',
    (url_for('identities.settings'), 'Settings'),
    (url_for('restaurants.settings', id=restaurant.id), restaurant.name),
  ) }}
  <legend>Update "{{ dish.name }}"</legend>
    <div class="row">
      <form method="post" class="form-horizontal span6" name="dish_form">
        {{ form.hidden_tag() }}
        {{ render_field(form.name, placeholder="Your dishe's name") }}
        {{ render_field(form.recipe, data_url=url_for("recipes.remote_recipes"),
          placeholder="start typing the recipe", data_callback="fill_from_recipe",
          title="Pick a recipe", class_="poopover", data_trigger="focus",
          data_suggest="True",
          data_content="Enter a recipe's title like lasagna, tacos, sushi&hellip; "
            "Selecting a recipe will prefill the ingredient list. ") }}
        {{ render_field(form.ingredients, data_url=url_for("recipes.remote_ingredients"),
          placeholder="start typing the ingredient",
          data_suggest="True",
          title="The ingredients", class_="poopover", data_trigger="focus",
          data_content="Add and remove the ingredients you use. That will help "
            "users to find your dish.") }}
        {{ render_field(form.hero_ingredient, data_url=url_for("recipes.remote_ingredients"),
          placeholder="Start typing the ingredient",
          title="The hero ingredient", class_="poopover", data_trigger="focus",
          data_content="Pick the ingredient that stands out in your dish (like "
            "garlic, basil, tomatoe&hellip;). We will publish it in a listing "
            "dedicated to this ingredient.") }}
        {{ render_field(form.image, album="dishes") }}
        {{ render_field(form.category_id) }}
        {{ render_field(form.description, placeholder="Describe this dish") }}
        <input type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
      </form>
      {% include "images/include/image_modal.html" with context %}
      <div class="span4 offset1">
        {# make the image hot and show image picker when clicked #}
        <a href="/images/r/album/dishes/picker/" data-toggle="modal"
           data-target="#picker_modal" class="thumbnail">
          {% if form.image.data and dish.image.id != form.image.data.id %}
            <img src="{{ form.image.data.url }}" id="image_photo">
          {% elif dish.image %}
            <img src="{{ dish.image.url }}" id="image_photo">
          {% else %}
              <img src="{{ url_for('static', filename='assets/no-photo.png') }}"
                   id="image_photo">
          {% endif %}
        </a>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-actions">
        <button id="save_btn" class="btn btn-success" onclick="window.dish_form.submit()">
          <i class="icon-ok icon-white"></i> Update Dish
        </button>
        <a class="btn" href="{{ url_for("restaurants.settings", id=restaurant.id) }}">
          Cancel
        </a>
      </div>
    </div>
{% endblock %}

{% block headscript %}
  function fill_from_recipe(id, item){
    if ($('#id_ingredients').attr('data-value')) return;
    jQuery.getJSON("{{ url_for("recipes.remote_recipe") }}", {id:id}, function(json){
      var ids = [];
      for (var id in json.ingredients) ids.push(id);
      CA.auto_completes['id_ingredients'].init(ids.join(","));
      $("#category_id").val(json.category_id);
      // recipe got selected, now go to ingredients field
      $("#id_ingredients").focus();
    });
  }
{% endblock %}


{% block bootstrap %}
  $script('{{url_for('static', filename="js/autocomplete.js")}}', 'autocomplete');
  $(".poopover").popover();
{% endblock %}
