{% extends "base.html" %}

{% from "lib/forms.html" import render_field %}
{% from "lib/navigation.html" import breadcrumbs %}

{% block content %}
  {{ breadcrumbs('Edit a place',
    (url_for('identities.settings'), 'Settings'),
    (url_for('restaurants.settings', id=restaurant.id), restaurant.name),
  ) }}
  <div class="row">
    <div class="span6">
      <legend id="profile">Edit a place</legend>
        <form method="post" class="form-horizontal" id="address_form">
          {{ form.hidden_tag() }}
          {{ render_field(form.name) }}
          {{ render_field(form.street) }}
          {{ render_field(form.zipcode) }}
          {{ render_field(form.city) }}
          {{ render_field(form.state) }}
          {{ form.latitude(type="hidden") }}
          {{ form.longitude(type="hidden") }}
        <div class="form-actions">
          <a id="check_btn" class="btn btn-primary hidden">
            <i class="icon-ok icon-white"></i> Check on the map
          </a>
          <button type="submit" id="save_btn" class="btn btn-success">
            <i class="icon-ok icon-white"></i> The map is correct, save changes.
          </button>
          <a class="btn" href="{{ url_for("restaurants.settings", id=restaurant.id) }}">
            Cancel
          </a>
        </div>
      </form>
    </div>
    <div class="span6">
      <div id="map_canvas">
        <div class="loading_map">Loading map...</div>
      </div>
    </div>
  </div>
{% endblock %}

{% block headscript %}
  var map;
  $script([
      "{{url_for("static", filename="js/map.js")}}",
      "{{ url_for("static", filename="lib/openlayer212/OpenLayers.js") }}"
    ], function(){
      var lat = document.getElementById('latitude').value;
      var lon = document.getElementById('longitude').value;
      map = new CA.map({div: 'map_canvas'});
      map.marker(lon, lat);
      map.center(lon, lat, 15);
    }
  );
{% endblock %}

{% block jquery %}
  $('#check_btn').on('click', code_form_address);
  function code_form_address(){
    var query = {
      street: $("#street").val(),
      city: $("#city").val(),
      state: $("#state").val(),
      country: 'USA',
      postalcode: $("#zipcode").val(),
      format: 'json'
    };

    if (!(query.street && query.city && query.state && query.postalcode)){
      alert('Address is incomplete')
      return;
    }

    if (!map){
      map = new CA.map({div: 'map_canvas'});
    }
    map.geocode(query, function(data){
      if (data.length){
        $('#check_btn').addClass('hidden');
        $('#save_btn').removeClass('hidden');
        $('#latitude').val(data[0].lat);
        $('#longitude').val(data[0].lon);
        map.clear_markers();
        map.marker(data[0].lon, data[0].lat);
        map.center(data[0].lon, data[0].lat, 15);
      }else{
        $('#check_btn').removeClass('hidden');
        $('#save_btn').addClass('hidden');
        alert("The address you specified cannot be found.")
      }
    });
  }

  $("#address_form .controls > input").change(function(){
    $("#check_btn").removeClass("hidden");
    $("#save_btn").addClass("hidden");
  });
{% endblock %}
