{% extends "base.html" %}

{% from "lib/forms.html" import render_field %}
{% from "restaurants/macros/post.html" import render_post %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for("static",
    filename="lib/jcrop/jquery.Jcrop.min.css") }}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span3">
    </div>
    <div class="span6">
      <h2>{{ restaurant.name }}</h2>
      {% if post_form %}
        <form action="{{ url_for('restaurants.create_post', id=restaurant.id) }}"
          method="post">
          {{ post_form.hidden_tag() }}
          {{ post_form.content(class="span6", placeholder="Post a comment...") }}
          {{ post_form.image(album="comments", class="pull-right") }}
          <input type="submit" class="btn btn-primary pull-right" value="Post comment">
        </form>
      {% include "images/include/image_modal.html" with context %}
      {% endif %}
      <ul class="thumbnails posts" id="posts">
      {% for post in restaurant.posts.paginate(1, per_page=2).items %}
        <li class="span6">
        {{ render_post(post, comment_form) }}
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="span3">
      <button class="btn btn-block btn-success">
        Follow
      </button>
      <legend>
        Top Dishes
      </legend>
      <ul>
        {% for dish in restaurant.dishes[:10] %}
        <li>
          {{ dish.name|truncate(20) }}
        </li>
        {% endfor %}
      </ul>
      <legend>
        Menus
      </legend>
      <ul>
        {% for menu in restaurant.menus %}
          <li>
            {{ menu.name|truncate(20) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block jquery %}
  var page = 1;

  function bind_load_comments(){
    $(".load_comments").on("click", function(ev){
        $(ev.target).hide(); // prevent double click
        var id = $(ev.target).data('id');
        $.get("{{ url_for("restaurants.post_comments") }}" + id + "/",
          function(data){
            $("#comments_" + id).prepend(data);
          }
        );
      }
    );
  }

  bind_load_comments();

  $(window).scroll(function(ev) {
    if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
      page = page + 1;
      $.ajax({
        url: "{{ url_for("restaurants.more_posts", id=restaurant.id) }}" + page + "/",
        success: function(data){
          $("#posts").append(data);
          $(".load_comments").unbind("click");
          bind_load_comments();
        },
        error: function(){ $(window).unbind("scroll"); }
        }
      );
    }
  });

{% endblock %}
