{% extends "base.html" %}

{% from "lib/forms.html" import render_field_inline %}
{% from "lib/navigation.html" import breadcrumbs %}

{% block content %}
  {{ breadcrumbs(restaurant.name,
    (url_for('identities.settings'), 'Settings'),
  ) }}
  <div class="row">

    <div class="span3">
      {% include "identities/settings_nav.html" %}
    </div>

    <div class="span9">
      <legend>
        Places
        <small class="hidden-phone">
          Where your restaurant serves dishes.
        </small>
      </legend>
      {% set places = restaurant.places %}
      {% include("restaurants/include/addresses_table.html") %}
      <a class="btn btn-primary pull-right" href="{{ url_for(
        'restaurants.create_place', id=restaurant.id) }}">
        <i class="icon-plus icon-white"></i> Add an address
      </a>


      <legend>
        Dishes
        <small class="hidden-phone">
          Your entrees, drinks, appetizers, desserts...
        </small>
      </legend>

      {% if restaurant.places.all() %}
        <form method="post" class="form-inline pull-right"
              action="{{ url_for("restaurants.create_dish", id=restaurant.id) }}">
          {{ dish_form.hidden_tag() }}
          {{ render_field_inline(dish_form.name, "create dish", "btn btn-primary",
                                 placeholder="dish's name") }}
        </form>
      {% endif %}
        <div class="clearfix"></div>

      {% set dishes = restaurant.dishes %}
      {% include("restaurants/include/dishes_table.html") %}


      <legend>
        Menu
        <small class="hidden-phone">
          dishes, prices, days and hours or serving.
        </small>
      </legend>

        {% if restaurant.places.all() and restaurant.dishes.all() %}
        <form method="post" class="form-inline pull-right"
              action="{{ url_for("restaurants.create_menu", id=restaurant.id) }}">
          {{ menu_form.hidden_tag() }}
          {{ render_field_inline(menu_form.name, "create menu", "btn btn-primary",
                                 placeholder="menu's name") }}
        </form>
        {% endif %}
        <div class="clearfix"></div>

        {% set menus = restaurant.menus %}
        {% include "restaurants/include/menus_table.html" %}
    </div>
  </div>
{% endblock %}
