{% extends "base.html" %}

{% from "lib/forms.html" import render_field, render_checkbox %}

{% block content %}
  <div class="row">
    <div class="span2 hidden-phone"></div>
    <div class="span7 well">
      <legend>Login</legend>
      <form method="POST" class="form-horizontal">
        {{ form.hidden_tag() }}
        {{ render_field(form.email, placeholder='you@example.com') }}
        {{ render_field(form.password, placeholder='very hard password') }}
        {{ render_checkbox(form.remember) }}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            <i class="icon-ok icon-white"></i> Login
          </button>
          or
          <a href="{{ url_for('identities.register') }}?{{ request.query_string }}">
            Register
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
