{% extends "base.html" %}

{% from "lib/forms.html" import render_field %}

{% block content %}
  <h1>{{ identity.user.name }}</h1>
  {% for restaurant in identity.user.restaurants %}
    <ul>
      <li>
        <a href="{{ url_for("restaurants.settings", id=restaurant.id) }}">
          {{ restaurant.name }}
        </a>
      </li>
    </ul>
  {% endfor %}
{% endblock %}
