{% extends "base.html" %}

{% from "lib/forms.html" import render_field %}

{% block content %}
  <div class="row">
    <div class="span2 hidden-phone"></div>
    <div class="span8 well">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="{{ url_for("identities.register") }}?{{ request.query_string }}">
            Create a new user
          </a>
        </li>
        <li>
          <a href="{{ url_for("identities.registerRestaurant") }}?{{ request.query_string }}">
            Register your restaurant
          </a>
        </li>
      </ul>
      <legend>New user registration</legend>
      <form method="POST" class="form-horizontal">
        {{ form.csrf_token }}
        {{ render_field(form.name, placeholder="The Gourmet Tom") }}
        {{ render_field(form.email, placeholder="you@example.com") }}
        {{ render_field(form.password, placeholder="the longer the better...") }}
        {{ render_field(form.confirm, placeholder="now try to re-type it!") }}
        <div class="alert alert-info">
          By clicking Sign Up, you agree to Chomp Around
          <a href="/about/tos/">terms of service</a>.
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-success">
            <i class="icon-edit icon-white"></i> Sign up
          </button>
          or <a href="{{ url_for('identities.login') }}?{{ request.query_string }}">Login</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
