<ul class="nav nav-list well">
  <li class="nav-header">Sections</li>
  <li {{ "class=active" if section == 'profile' }}>
    <a href="{{ url_for('identities.settings') }}">
      Profile
    </a>
  </li>
  {% for role in current_user.user.roles.all() %}
  {% if loop.first %}
    <li class="nav-header">Restaurants</li>
  {% endif %}
  <li {{ "class=active" if section == 'restaurant_%s' % role.restaurant.id }}>
    <a href="{{ url_for('restaurants.settings', id=role.restaurant.id) }}">
      {{ role.restaurant.name }}
    </a>
  </li>
  {% endfor %}
</ul>
