{% extends "base.html" %}

{% from "lib/forms.html" import render_field %}
{% from "lib/navigation.html" import breadcrumbs %}

{% block content %}
  {{ breadcrumbs('Settings') }}
  <div class="row">
    <div class="span3">
      {% include "identities/settings_nav.html" %}
    </div>
    <div class="span9">
      <legend id="profile">Correct your name</legend>
      <form method="post" class="form-horizontal">
        {{ profile_form.hidden_tag() }}
        {{ render_field(profile_form.name, placeholder="Your name",
          title="Your public name", class="poopover", **{"data-trigger":"focus",
          "data-content":"This is the name that will be displayed to other users. "
            "Try not to change it and feel free to use a nickname."}) }}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            <i class="icon-ok icon-white"></i> Update profile name
          </button>
        </div>
      </form>
      <legend id="profile">
        Update your email
      </legend>
      <p>
        <span class="label label-warning">Warning</span>
        For security purpose, in order to update
        your email, you will have to enter your current password.
      </p>
      <form method="post" class="form-horizontal">
        {{ email_form.hidden_tag() }}
        {{ render_field(email_form.new_email, placeholder="your new email address") }}
        {{ render_field(email_form.current_password) }}
        <div class="form-actions">
          <button type="submit" class="btn btn-warning">
            <i class="icon-ok icon-white"></i> Confirm new email
          </button>
        </div>
      </form>
      <legend id="profile">Change your password</legend>
      <p>
        <span class="label label-warning">Warning</span>
        For security purpose, to change your password,
        you will have to enter your current password.
      </p>
      <form method="post" class="form-horizontal">
        {{ password_form.hidden_tag() }}
        {{ render_field(password_form.current_password) }}
        {{ render_field(password_form.password) }}
        {{ render_field(password_form.confirm) }}
        <div class="form-actions">
          <button type="submit" class="btn btn-warning">
            <i class="icon-ok icon-white"></i> Confirm password change
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block bootstrap %}
  $(".poopover").popover();
{% endblock %}
