{% for place in places %}
  {% if loop.first %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Street</th>
          <th>Zipcode</th>
          <th>City</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
  {% endif %}
  <tr>
    <td>
      <a href="{{ url_for("restaurants.edit_place", id=place.id) }}">
        <strong> {{ place.name }} </strong>
      </a>
    </td>
    <td>{{ place.street }}</td>
    <td>{{ place.zipcode }}</td>
    <td>{{ place.city }}</td>
  </tr>
  {% if loop.last %}
      </tbody>
    </table>
  {% endif %}
{% else %}
  <div class="alert alert-warning">
    You haven't yet published any places. We won't be able to publicly
    list {{ restaurant.name }} until you provide those key informations.
  </div>
{% endfor %}

