{% for dish in dishes %}
  {% if loop.first %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Dish
          </th>
          <th>
            Category
          </th>
          <th>
            Recipe
          </th>
          <th>
            Ingredients
          </th>
        </tr>
      </thead>
    <tbody>
  {% endif %}
    <tr>
      <td>
        <a href="{{ url_for("restaurants.edit_dish", id=dish.id) }}">
          <strong>{{ dish.name }}</strong>
        </a>
      </td>
      <td>
        {{ dish.category }}
      </td>
      <td>
        {{ dish.recipe.name }}
      </td>
      <td>
        {% for ingredient in dish.ingredients %}
          {{- ingredient.name -}}
          {% if not loop.last %},{% endif %}
        {% endfor %}
      </td>
    </tr>
  {% if loop.last %}
    </tbody>
  </table>
  {% endif %}
  {% else %}
    <div class="alert alert-warning">
      You haven't yet created any dishes. We won't be able to publicly
      list {{ restaurant.name }} until you tell us what delicious meal
      you are offering to our starving gourmet.
    </div>
{% endfor %}
