{% for menu in menus %}
  {% if loop.first %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Menu
          </th>
          <th>
            Hours
          </th>
          <th>
            Days
          </th>
          <th>
            Dishes
          </th>
          <th>
            Places
          </th>
        </tr>
      </thead>
    <tbody>
  {% endif %}
    <tr>
      <td>
        <a href="{{ url_for("restaurants.edit_menu", id=menu.id) }}">
          <strong>{{ menu.name }}</strong>
        </a>
      </td>
      <td>
        {% if menu.start and menu.stop %}
          from {{ menu.start.strftime('%I:%M %p') }}
          to {{ menu.stop.strftime('%I:%M %p') }}
        {% else %}
          Hours undefined yet.
        {% endif %}
      </td>
      <td>
        {{ menu.serving_days }}
      </td>
      <td>
        {{ menu.dishes|count }}
      </td>
      <td>
        {{ menu.places|count }}
      </td>
    </tr>
  {% if loop.last %}
    </tbody>
  </table>
  {% endif %}
{% else %}
  <div class="alert alert-warning">
    You haven't yet setup any menu. Menu will let you indicate price,
        locaction and hours of serving. We won't be able to publicly list
    {{ restaurant.name }} until you provide those key informations.
  </div>
{% endfor %}

