{% for menu_dish in menu_dishes %}
  {% if loop.first %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            name
          </th>
          <th>
            Dish(es)
          </th>
          <th>
            Price
          </th>
          <th>
            Description
          </th>
        </tr>
      </thead>
    <tbody>
  {% endif %}
    <tr>
      <td>
        <strong>
          {{ menu_dish.name }}
        </strong>
      </td>
      <td>
        {% for dish in menu_dish.dishes %}
          <a href="{{ url_for("restaurants.edit_dish", id=dish.id) }}">
            {{ dish.name }}
          </a>
          {{ "," if not loop.last }}
        {% endfor %}
      </td>
      <td>
        ${{ "%.2f" % menu_dish.price }}
      </td>
      <td>
        {{ menu_dish.description|truncate(60) }}
      </td>
      <td>
        <form action="{{ url_for("restaurants.delete_menu_dish", id=menu_dish.id) }}"
              method="post" style="margin: 0">
          <button type="submit" class="btn btn-danger">
            <i class="icon-trash icon-white"></i> Delete
          </button>
        </form>
      </td>
    </tr>
  {% if loop.last %}
    </tbody>
  </table>
  {% endif %}
  {% else %}
    <div class="alert alert-warning">
      You haven't yet associated any dishes with this menu. Start adding
      some using <a onclick="$('#id_md_dishes').focus()" href="#">
      <strong>the form on the top right.</strong><a>
    </div>
{% endfor %}
