/*
 * auto complete
 */
input[type=text].ac_input{
  display: block;
}
.ac_items{
  display: inline -block;
  margin-top: 2px;
  margin-bottom: 9px;
  color: #555;
  width: 214px;
}
.ac_item{
  display: inline-block;
  *display: block;
  zoom: 1;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #eee;
  margin: 2px 4px 2px 0;
  padding: 2px 4px;
}
.ac_item.ac_suggestion{
  background-color: #FFE0E0;
  border: 1px #660000 dashed;
}
.well .ac_item{
  background: #ddd;
  border-color: #aaa;
}

.ac_close{
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
  padding: 0 2px;
}

.ac_item:hover .ac_close{
  color: #B00;
}
.ac_close:hover{
  text-decoration: none;
}

footer{
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #833D29;
  background-color: whitesmoke;
}

@media (max-width: 767px){
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
}

#map_canvas{
  height: 400px;
  border: 1px solid #ddd;
  background: #eee;
}
#map_canvas .loading_map{
  padding: 100px 20px;
  color: #aaa;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
}

.posts .well{
  margin-top: -10px;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 0;
  padding-top: 15px;
}
.posts .thumbnail{
  position: relative;
  background: white;
  z-index: 1;
}
