{% macro render_post(post, form=None)%}
  <div class="thumbnail">
    {% if post.image %}
      <img src="{{ post.image.url }}">
    {% endif %}
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" width=64 height=64 src="{{ post.author.avatar_url }}">
      </a>
        <strong>{{ post.author.name }}</strong>
        <small class="muted">{{ post.creation_date|timesince }}</small>
        <p>
        {{ post.content }}
        </p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="well post-comment">
    {% set comments = post.comments.paginate(1, per_page=2) %}
    {% if comments.has_next %}
    <button class="load_comments btn btn-block btn-link" data-id="{{ post.id }}">
      show all comments...
    </button>
    {% endif %}
    <ul class="media-list" id="comments_{{ post.id }}">
    {% for comment in comments.items %}
      <li class="media" id="comment_{{ comment.id }}">
        {{ render_comment(comment) }}
      </li>
    {% endfor %}
    {% if form %}
      <li class="media">
        <form method="post"
              action="{{ url_for("restaurants.create_post_comment", id=post.id) }}">
          {{ form.hidden_tag() }}
          {{ form.content(class="input-block-level", placeholder="Post a reply...") }}
          <input type="submit" class="btn btn-primary pull-right" value="Post reply">
        </form>
      </li>
    {% endif %}
    </ul>
    <div class="clearfix"></div>
  </div>
{% endmacro %}

{% macro render_comment(comment) %}
  <a class="pull-left" href="#">
    <img class="media-object" width=64 height=64 src="{{ comment.author.avatar_url }}">
  </a>
  <div class="media-body">
    <strong>{{ comment.author.name }}</strong>
    <small class="muted">{{ comment.creation_date|timesince }}</small>
    <p>
    {{ comment.content }}
    </p>
  </div>
{% endmacro %}
