<ul class="thumbnails">
  {% for image in images %}
    <li class="span2">
      <a class="thumbnail"
         onclick="image_selected({id:{{ image.id}}, url:'{{ image.url|e }}', album:'{{image.album|e}}'}); $('#picker_album_modal').modal('hide')">
        <img src="{{ image.url }}">
      </a>
    </li>
  {% endfor %}
</li>
