{% from "lib/forms.html" import render_field %}
<form target="picker_iframe" method="post" enctype="multipart/form-data"
      class="form-horizontal"
      action="{{ url_for("images.upload_iframe", album=album) }}">
  {{ form.hidden_tag() }}
  {{ render_field(form.image_upload, onchange="this.value && submit()",  accept="image/*") }}
  <div class="control-group">
    <label class="control-label" for="id_btn_album">Or</label>
    <div class="controls">
      <a data-remote="{{ url_for("images.remote_album", album='dishes') }}" role="button"
         onclick="$('#picker_modal').modal('hide');" id="id_btn_album"
         class="btn btn-success" data-toggle="modal" data-target="#picker_album_modal">
         Choose from album
      </a>
    </div>
  </div>
</form>
