<a href="{{ url_for("images.remote_image_picker", album=album) }}" role="button"
   class="btn" data-toggle="modal" data-target="#picker_modal">
   {{ field.label.text }}
</a>
<input type="hidden" value="{{ field.data.id }}" name="{{ field.name }}" id="{{ field.id }}">
<script>
  function image_selected(image_data){
    if(document.getElementById("{{ field.id }}_photo")){
      $("#{{ field.id }}_photo").attr("src", image_data.url);
    }
    $("#{{ field.id }}").attr("value", image_data.id);
  }
</script>
