{% extends "base.html" %}

{% from "lib/pagination.html" import render_pagination with context %}
{% from "lib/forms.html" import render_field %}
{% from "lib/navigation.html" import breadcrumbs %}

{% block content %}
  {{ breadcrumbs('Edit Tag',
    (url_for('identities.settings'), 'Settings'),
    (url_for('recipes.tags'), 'Tags'),
  ) }}
  <legend>Edit Tag</legend>
  <form method="post" class="hidden" name="delete_tag"
    action="{{ url_for("recipes.delete_tag", id=tag.id) }}">
  </form>
  <form method="post" class="form-horizontal">
    {{ form.hidden_tag() }}
    {{ render_field(form.name) }}
    <div class="form-actions btn-toolbar">
      <div class="btn-group">
        <button type="submit" id="save_btn" class="btn btn-success">
          <i class="icon-ok icon-white"></i> Update tag
        </button>
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="#" onclick="document.delete_tag.submit()">
              <i class="icon-trash"></i> Delete tag
            </a>
          </li>
        </ul>
      </div>
      <a class="btn" href="{{ url_for('recipes.tags') }}">
        Cancel
      </a>
    </div>
  </form>
  <legend>Recipes associated with "{{ tag.name }}"</legend>
  {{ render_pagination(recipes, 'recipes.edit_tag', id=tag.id) }}
  {% include("recipes/include/recipes_table.html") %}
  {{ render_pagination(recipes, 'recipes.edit_tag', id=tag.id) }}
{% endblock %}
