{% extends "base.html" %}

{% from "lib/pagination.html" import render_pagination with context %}
{% from "lib/forms.html" import render_field %}
{% from "lib/navigation.html" import breadcrumbs %}

{% block content %}
  {{ breadcrumbs('Edit Category',
    (url_for('identities.settings'), 'Settings'),
    (url_for('recipes.categories'), 'Categories'),
  ) }}
  <legend>Edit Category</legend>
  <form method="post" class="form-horizontal">
    {{ form.hidden_tag() }}
    {{ render_field(form.name) }}
    <div class="form-actions">
      <button type="submit" id="save_btn" class="btn btn-success">
        <i class="icon-ok icon-white"></i> Update category
      </button>
      <a class="btn" href="{{ url_for('recipes.categories') }}">
        Cancel
      </a>
    </div>
  </form>
  <legend>Ingredients belonging to "{{ category.name }}"</legend>
  {{ render_pagination(ingredients, 'recipes.edit_category', id=category.id) }}
  {% include("recipes/include/ingredients_table.html") %}
  {{ render_pagination(ingredients, 'recipes.edit_category', id=category.id) }}
{% endblock %}
