{% extends "base.html" %}

{% from "lib/pagination.html" import render_pagination %}
{% from "lib/forms.html" import render_field %}
{% from "lib/navigation.html" import breadcrumbs %}

{% block content %}
  {{ breadcrumbs('Edit recipe',
    (url_for('identities.settings'), 'Settings'),
    (url_for('recipes.recipes'), 'Recipes'),
  ) }}
  <div class="row">
    <form method="post" class="form-horizontal{{ " span6" if substitute_form }}">
      <legend>Edit Recipe <small>{{ recipe.status }}</small></legend>
      {{ form.hidden_tag() }}
      {{ render_field(form.name) }}
      {{ render_field(form.category_id) }}
      {{ render_field(form.ingredients, data_url=url_for('recipes.remote_ingredients'),
        data_suggest="True",
        placeholder="start typing an ingredient...") }}
      {{ render_field(form.tags, data_url=url_for('recipes.remote_tags'),
        placeholder="start typing a tag...") }}
      {{ render_field(form.status_id) }}
      <div class="form-actions">
        <button type="submit" id="save_btn" class="btn btn-success">
          <i class="icon-ok icon-white"></i> Update recipe
        </button>
        <a class="btn" href="{{ url_for('recipes.recipes') }}">
          Cancel
        </a>
      </div>
    </form>
    {% if substitute_form %}
      <form method="post" class="form-horizontal span6"
          action="{{ url_for('recipes.recipe_substitute', id=recipe.id) }}">
      <legend>Substitute Recipe</legend>
      <div class="alert alert-info">
        <strong>Substitute</strong> feature will delete this suggested
        recipe and replace it in every dish with the recipe picked bellow.
      </div>
      {{ substitute_form.hidden_tag() }}
      {{ render_field(substitute_form.recipe,
        data_url=url_for('recipes.remote_recipes'),
        placeholder="start typing an recipe...") }}
        <div class="form-actions">
          <button type="submit" id="save_btn" class="btn btn-success">
            <i class="icon-ok icon-white"></i> Substitute recipe
          </button>
        </div>
      </form>
    {% endif %}
  </div>
  <legend>Dishes using "{{ recipe.name }}"</legend>
  {{ render_pagination(dishes, 'recipes.edit_recipe', id=recipe.id) }}
  {% include("recipes/include/dishes_table.html") %}
  {{ render_pagination(dishes, 'recipes.edit_recipe', id=recipe.id) }}
{% endblock %}

{% block bootstrap %}
  $script('{{url_for('static', filename="js/autocomplete.js")}}', 'autocomplete');
{% endblock %}
