{% extends "base.html" %}

{% from "lib/pagination.html" import render_pagination with context %}
{% from "lib/forms.html" import render_field, render_field_inline %}
{% from "lib/navigation.html" import breadcrumbs %}

{% block content %}
  {{ breadcrumbs('Edit Ingredient',
    (url_for('identities.settings'), 'Settings'),
    (url_for('recipes.ingredients'), 'Ingredients'),
  ) }}
  <div class="row">
    <form method="post" class="hidden" name="delete_ingredient"
      action="{{ url_for("recipes.delete_ingredient", id=ingredient.id) }}">
    </form>
    <form method="post" class="form-horizontal{{ " span6" if substitute_form }}">
      <legend>Edit Ingredient <small>{{ ingredient.status }}</small></legend>
      {{ form.hidden_tag() }}
      {{ render_field(form.name) }}
      {{ render_field(form.categories, data_url=url_for('recipes.remote_categories'),
        placeholder="start typing a category...") }}
      {{ render_field(form.parents, data_url=url_for('recipes.remote_ingredients'),
        placeholder="start typing an ingredient...") }}
      {{ render_field(form.status_id) }}
      <div class="form-actions btn-toolbar">
        <div class="btn-group">
          <button type="submit" id="save_btn" class="btn btn-success">
            <i class="icon-ok icon-white"></i> Update ingredient
          </button>
          <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#" onclick="document.delete_ingredient.submit()">
                <i class="icon-trash"></i> Delete ingredient
              </a>
            </li>
          </ul>
        </div>
        <a class="btn" href="{{ url_for('recipes.ingredients') }}">
          Cancel
        </a>
      </div>
    </form>
    {% if substitute_form %}
      <form method="post" class="form-horizontal span6"
          action="{{ url_for('recipes.ingredient_substitute', id=ingredient.id) }}">
      <legend>Substitute Ingredient</legend>
      <div class="alert alert-info">
        <strong>Substitute</strong> feature will delete this suggested
        ingredient and replace it in every recipe and dish where it has
        been added with the ingredient picked bellow.
      </div>
      {{ substitute_form.hidden_tag() }}
      {{ render_field(substitute_form.ingredient,
        data_url=url_for('recipes.remote_ingredients'),
        placeholder="start typing an ingredient...") }}
        <div class="form-actions">
          <button type="submit" id="save_btn" class="btn btn-success">
            <i class="icon-ok icon-white"></i> Substitute ingredient
          </button>
        </div>
      </form>
    {% endif %}
  </div>
  <legend>Children ingredients</legend>
  {{ render_pagination(ingredients, 'recipes.edit_ingredient', id=ingredient.id) }}
  {% include("recipes/include/ingredients_table.html") %}
  <legend>Recipes containing {{ ingredient.name }}</legend>
  {% include("recipes/include/recipes_table.html") %}
{% endblock %}

{% block bootstrap %}
  $script('{{url_for('static', filename="js/autocomplete.js")}}', 'autocomplete');
{% endblock %}
