{% extends "base.html" %}

{% from "lib/pagination.html" import render_pagination with context %}
{% from "lib/forms.html" import render_field_inline %}
{% from "lib/navigation.html" import breadcrumbs, admin_tabs %}

{% block content %}
  {{ breadcrumbs('Ingredients',
    (url_for('identities.settings'), 'Settings'),
  ) }}
  {{ admin_tabs("ingredients") }}
  <form method="post" class="form-inline pull-right">
    {{ form.hidden_tag() }}
    {{ render_field_inline(form.name, 'add ingredient', 'btn', placeholder="Ingredient's name") }}
  </form>
  <form method="get" action="{{ url_for('recipes.ingredients') }}"
        class="form-inline pull-left">
    {{ render_field_inline(filter_form.name, 'filter', 'btn',
                           placeholder=filter_form.name.label.text) }}
  </form>

  <div class="clearfix"></div>

  {% include("recipes/include/ingredients_table.html") %}
  {{ render_pagination(ingredients, 'recipes.ingredients') }}
{% endblock %}
