<li class="divider"></li>
<li>
  <a href="{{ url_for('recipes.categories') }}">
    Categories
  </a>
</li>
<li>
  <a href="{{ url_for('recipes.recipes') }}">
    Recipes
  </a>
</li>
<li>
  <a href="{{ url_for('recipes.ingredients') }}">
    Ingredients
  </a>
</li>
