<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename="assets/favicon.ico")}}" type="image/x-icon" />
    <title>{% block title %}My Site{% endblock %}</title>
    <script>
    (function(i,g,b){"undefined"!=typeof b.module&&b.module.exports?b.module.exports=g():"undefined"!=typeof b.define&&"function"==b.define&&b.define.amd?define(i,g):b[i]=g()})("$script",function(){function i(b,a){for(var c=0,f=b.length;c<f;++c)if(!a(b[c]))return j;return 1}function g(b,a){i(b,function(c){return!a(c)})}function b(h,a,c){function f(a){return a.call?a():l[a]}function d(){if(!--j){l[e]=1;r&&r();for(var a in k)i(a.split("|"),f)&&!g(k[a],f)&&(k[a]=[])}}var h=h[m]?h:[h],n=a&&a.call,r=n?a:c,
    e=n?h.join(""):a,j=h.length;setTimeout(function(){g(h,function(a){if(p[a])return 2==p[a]&&d();p[a]=1;s(!v.test(a)&&q?q+a+".js":a,d)})},0);return b}function s(b,a){var c=d.createElement("script"),f=j;c.onload=c.onerror=c[t]=function(){c[e]&&!/^c|loade/.test(c[e])||f||(c.onload=c[t]=null,f=1,p[b]=2,a())};c.async=1;c.src=b;u.insertBefore(c,u.firstChild)}var d=document,u=d.getElementsByTagName("head")[0],v=/^https?:\/\//,l={},k={},q,p={},j=!1,m="push",e="readyState",t="onreadystatechange";!d[e]&&d.addEventListener&&
    (d.addEventListener("DOMContentLoaded",function a(){d.removeEventListener("DOMContentLoaded",a,j);d[e]="complete"},j),d[e]="loading");b.get=s;b.order=function(a,c,f){(function n(d){d=a.shift();a.length?b(d,n):b(d,c,f)})()};b.path=function(a){q=a};b.ready=function(a,c,d){var a=a[m]?a:[a],e=[];!g(a,function(a){l[a]||e[m](a)})&&i(a,function(a){return l[a]})?c():(a=a.join("|"),k[a]=k[a]||[],k[a][m](c),d&&d(e),!0);return b};return b},this);
    var CA = {};
    </script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      <script>
        $script('{{url_for('static', filename="lib/jquery/jquery-1.8.2.js")}}',
          'jquery', function(){
            $script('{{url_for('static', filename="lib/bootstrap/js/bootstrap.js")}}',
              'bootstrap');
          }
        );
        $script.ready('jquery', function(){
          {% block jquery %}{% endblock %}
        });
        $script.ready('bootstrap', function(){
          {% block bootstrap %}{% endblock %}
        });
      {% block headscript %}{% endblock %}
      </script>
    {% block css %}
      <link rel="stylesheet" href="{{url_for("static",
        filename="css/main.css") }}">
      <link rel="stylesheet" href="{{url_for("static",
        filename="lib/bootstrap/css/bootstrap.css") }}">
      <link rel="stylesheet" href="{{url_for("static",
        filename="lib/bootstrap/css/bootstrap-responsive.css") }}">
    {% endblock %}
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        {% if not current_user.is_authenticated() and
          request.path != url_for('identities.login') %}
          <a class="btn btn-primary pull-right visible-phone"
            href="{{ url_for('identities.login') }}">
            login
          </a>
        {% elif current_user.is_authenticated() %}
          {% include "menu.html" %}
        {% endif %}
        <a class="brand" href="#">Chomp Around</a>
        <ul class="nav hidden-phone">
          <li><a href="/">Home</a></li>
        </ul>
        {% if not current_user.is_authenticated() and login_form and
          request.path != url_for('identities.login') %}
          <form class="navbar-form pull-right form-inline hidden-phone" method="post"
                action="{{ url_for('identities.login') }}?next={{ request.path }}">
            {{ login_form.csrf_token }}
            {{ login_form.email(class="input-small", placeholder="Email") }}
            {{ login_form.password(class="input-small", placeholder="Password") }}
            <div class="btn-group">
              <button type="submit" class="btn btn-success">Login</button>
              <button class="btn dropdown-toggle btn-success" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="{{ url_for('identities.register') }}?next={{ request.path }}">
                    New user
                  </a>
                <li>
                <li>
                  <a href="{{ url_for('identities.registerRestaurant') }}?next={{ (request.path) }}">
                    Register your restaurant
                  </a>
                <li>
              </ul>
            </div>
          </form>
        {% endif %}
        </ul>
      </div>
    </div>
    {% for category, msg in get_flashed_messages(with_categories=true) %}
    <div class="container">
      <div class="alert alert-{{ category }}">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{ msg }}
      </div>
    </div>
    {% endfor %}
    <div class="container" id="content">{% block content %}{% endblock%}</div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="span4">
            <h4>Follow</h4>
            <ul>
              <li>
                <a href="#">
                  Twitter
                </a>
              </li>
              <li>
                <a href="#">
                  Facebook
                </a>
              </li>
              <li>
                <a href="#">
                  Linkedin
                </a>
              </li>
            </ul>
          </div>
          <div class="span4">
            <h4>Contact</h4>
            <ul>
              <li>
                support:
                <a href="#">
                  support@chomparound.com
                </a>
              </li>
              <li>
                advertising:
                <a href="#">
                  advertising@chomparound.com
                </a>
              </li>
              <li>
                partnership:
                <a href="#">
                  partnership@chomparound.com
                </a>
              </li>
            </ul>
          </div>
          <div class="span4">
            <h4>About</h4>
            <ul>
              <li>
                <a href="#">
                  Team
                </a>
              </li>
              <li>
                <a href="#">
                  Upcomming
                </a>
              </li>
              <li>
                <a href="#">
                  Our Blog
                </a>
              </li>
            </ul>
          </div>
        </div>
        {% block footer %}
        {% endblock%}
      </div>
    </footer>
  </body>
  <script>{% block footerscript %}{% endblock %}</script>
</html>
