<ul class="nav pull-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{ current_user.user.name }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{ url_for('identities.home') }}">
          <i class="icon-home"></i> Profile
        </a>
      </li>
      <li>
        <a href="{{ url_for('identities.settings') }}">
          <i class="icon-edit"></i> Settings
        </a>
      </li>
      {% if current_user.is_admin() %}
        {% include "admin_menu.html" %}
      {% endif %}
      <li class="divider"></li>
      <li>
        <a href="{{ url_for('identities.logout') }}">
          <i class="icon-off"></i> Logout
        </a>
      </li>
    </ul>
  </li>
</ul>

