<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ title }}</title>
    {% if script %}
    <script>
      {{ script|safe }}
    </script>
    {% endif %}
  </head>
  <body>
  {% if content %}{{content}}{% endif %}
  </body>
</html>
